h1.heading-title {
    svg {
        font-size: 1.6rem;
    }
}
.update-form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        border: none;
        font-size: 2rem;
        padding: 5px;
    }
    button {
        margin-top: 0;
    }
}
