.todo-form {
    margin-top: 50px;
}

.todo-list {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
    li {
        font-size: 2rem;
        cursor: pointer;
        margin: 20px;
        padding: 10px;
        background-color: @clear-color;
    }
    .completed {
        background-color: @light;
    }
    
}
button {
    margin-top: 0;
}