.todo-form {
    margin-top: 50px;
}
form {
    input {
        background-color: @clear-color;
        color: @white;
        font-weight: bolder;
        .box-shadow(0;0;8px;0;@light-gray);
        &::placeholder {
            color: @white;
            font-weight: 400;
        }
    }
}

.todo-list {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
    li {
        font-size: 2rem;
        cursor: pointer;
        margin: 20px;
        padding: 10px;
        background-color: @clear-color;
    }
    .completed {
        background-color: @light;
    }
    
}
button {
    margin-top: 0;
}